# Virtual environment
.venv/

# Heavy data
*.csv
*.pt
*.pth
*.npy

# Simulation outputs
frames_expansion/
frames_retraction/
matrices_expansion/
matrices_retraction/

# Editor , Jupyter junk
.vscode/
.ipynb_checkpoints/
__pycache__/
